.logo {
  font-family: "Script MT", system-ui;
  font-size: 54px;
  text-align: center;
  color: #080520;
  margin-bottom: 20px;
}

.logo .logo-font {
  color: #1167B1;
}

@media only screen and (max-width: 767px) {
  .logo {
    font-size: 34px;
  }
}

.header-title {
  text-align: center;
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #222;
  font-family: Poppins, system-ui;
  font-size: 30px;
}

.login-form {
  max-width: 600px;
  margin: 0 auto;
}

.login-form .form-control {
  //border-radius: 0;
  //margin-bottom: 20px;
  font-size: 13px !important;
}

.login-form .form-group {
  position: relative;
}

.login-form label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: black;
}

.login-form span {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(47%);
  color: black;
}

.login-form em {
  font-size: 18px;
}

.login-form input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  font-family: Poppins, system-ui;
  box-sizing: border-box;

  &:focus {
    border: none;
    border-bottom: 1px solid black;
  }
}

.login-form .btn {
  font-size: 13px !important;
}

.login-form .btn.btn-primary {
  background: #1167B1 !important;
  border-color: #1167B1;
}

.login-form .btn.btn-primary:hover {
  background: #FFFFFF !important;
  border-color: #312783;
}

.ng-submitted em {
  position: absolute;
  top: -20px;

}

.ng-submitted span em {
  position: absolute;
  top: 10px;
  right: 25px;

}