<div class="container-login">
    <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-8 col-md-8">
            <div class="card shadow-sm my-5" style="margin-top:90px !important">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mt-3 logo">
                                <span class="logo-font">CASH-</span>ME
                            </div>
                            <div class="text-center">
                                <h2 class="header-title ">Récupération du mot de passe</h2>
                            </div>
                            <form class="login-form" [formGroup]="form" *ngIf="token == null">
                                <div class=" form-group mb-3 ">
                                    <label> <em class="fa fa-envelope " aria-hidden="true"></em></label>
                                    <input type="email" class="form-control"
                                           [ngClass]="{ 'is-invalid': submitted && f[ 'mail'].errors} "
                                           formControlName="mail" id="mail" placeholder="Entrer l'adresse mail">
                                    <div *ngIf="submitted && f[ 'mail'].errors " class="invalid-feedback">
                                        <div *ngIf="f[ 'mail'].errors?.[ 'required'] ">Champ Requis</div>
                                        <div *ngIf="f[ 'mail'].errors?.[ 'email'] ">Email invalide</div>
                                    </div>
                                </div>

                                <div class="form-group d-flex justify-content-center ">
                                    <button type="submit" (click)="forgot()" class="btn btn-primary btn-block">
                                        Récupérer
                                    </button>
                                </div>
                            </form>
                            <form class="login-form" [formGroup]="formPass" *ngIf="token">

                                <div class=" form-group mb-3 ">
                                    <label> <em class="fa fa-lock " aria-hidden="true"></em></label>
                                    <input [type]="showPass? 'text' : 'password' " class="form-control"
                                           [ngClass]="{ 'is-invalid': submitted && fPass[ 'newPass'].errors} "
                                           formControlName="newPass" id="newPass" placeholder="Entrer le mot de passe">
                                    <span>
                                        <em class="fa fa-eye "
                                            [ngClass]="{ 'fa-eye-slash': !showPass, 'fa-eye': showPass } "
                                            (click)="setVisiblePass() "></em>
                                    </span>
                                    <div *ngIf="submitted && fPass[ 'newPass'].errors " class="invalid-feedback">
                                        <div *ngIf="fPass[ 'newPass'].errors?.[ 'required'] ">Champ Requis</div>
                                        <div *ngIf="fPass[ 'newPass'].errors?.[ 'minlength'] "> Le mot de passe doit
                                            avoir 8 caractères min
                                        </div>
                                        <div *ngIf="fPass[ 'newPass'].errors?.[ 'maxlength'] ">Le mot de passe doit
                                            avoir 12 caractères max
                                        </div>
                                        <div *ngIf="fPass[ 'newPass'].errors?.[ 'pattern'] ">Le mot de passe doit avoir
                                            au moins 1 minuscule, 1 majuscule, 1 chiffre, 1 caractère spécial
                                        </div>
                                    </div>
                                </div>
                                <div class=" form-group mb-3 ">
                                    <label> <em class="fa fa-lock " aria-hidden="true"></em></label>
                                    <input type="password" class="form-control"
                                           [ngClass]="{ 'is-invalid': submitted && fPass[ 'confirmNewPass'].errors} "
                                           formControlName="confirmNewPass" id="confirmNewPass"
                                           placeholder="Confirmer mot de passe">

                                    <div *ngIf="submitted && fPass[ 'confirmNewPass'].errors " class="invalid-feedback">
                                        <div *ngIf="fPass[ 'confirmNewPass'].errors?.[ 'required'] ">Champ Requis</div>
                                        <div *ngIf="fPass[ 'confirmNewPass'].errors?.[ 'matching'] ">
                                            Les mots de passe doivent correspondre
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group d-flex justify-content-center ">
                                    <button type="submit" (click)="pass()" class="btn btn-primary btn-block">Confirmer
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>