<main class="main-content has-sidebar">
  <div class="grid grid-cols-12 gap-4 xxl:gap-6">
    <div class="col-span-12 flex flex-col gap-4 md:col-span-7 lg:col-span-8 xxl:gap-6">
      <!-- Statistics -->
      <div class="flex align-center content-elt">
        <div
          class="max-xxl:box stat-part col-span-6 flex items-center justify-between gap-3 overflow-x-hidden sm:col-span-3 md:col-span-6 lg:col-span-3 xxl:col-span-2 xxl:px-4 xxl:ltr:first:pl-0 xxl:last:ltr:pr-0">
          <div>
            <p class="mb-4 font-medium">PORTOFOLIO</p>
            <div class="flex items-center gap-2">
              <h4 class="h4">FCFA 2500</h4>
              <span class="flex items-center gap-1 text-sm text-primary">
                  <i class="las la-arrow-up text-base"></i> 4.8%
                </span>
            </div>
          </div>
        </div>
        <div
          class="max-xxl:box stat-part col-span-6 flex items-center justify-between gap-3 overflow-x-hidden sm:col-span-3 md:col-span-6 lg:col-span-3 xxl:col-span-2 xxl:px-4 xxl:ltr:first:pl-0 xxl:last:ltr:pr-0">
          <div>
            <p class="mb-4 font-medium">GAINS/PERTES</p>
            <div class="flex items-center gap-2">
              <h4 class="h4">FCFA 3500</h4>
              <span class="flex items-center gap-1 text-sm text-primary">
                  <i class="las la-arrow-up text-base"></i> 1.8%
                </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12 md:col-span-5 lg:col-span-4">
      <div class="inner-button">
        <button class="btn ac-modal-btn">
          VENDRE

        </button>
        <button class="btn ac-modal-btn buy">
          ACHETER
        </button>
      </div>
    </div>
    <!-- Graphe et statistiques -->
    <div class="col-span-12">
      <div class="grid grid-cols-12 gap-4 xxl:gap-6">
        <div class="col-span-12 flex flex-col gap-4 md:col-span-7 lg:col-span-8 xxl:gap-6">
          <!-- Income and expences -->
          <div class="box overflow-x-hidden">
            <div class="bb-dashed mb-4 flex flex-wrap items-center justify-between gap-3 pb-4 lg:mb-6 lg:pb-6">
              <h4 class="h4">Statistiques de gains/pertes</h4>
              <div class="flex items-center gap-3">
                <span>Afficher par : </span>
                <select name="sort" class="nc-select green">
                  <option value="day">Semaine</option>
                  <option value="day">Mois</option>
                  <option value="week">Année</option>
                </select>
              </div>
            </div>
            <div class="income-chart"></div>
          </div>
        </div>
        <div class="col-span-12 md:col-span-5 lg:col-span-4">
          <div class="box status-gains">
            <h4 class="h4 bb-dashed mb-4 pb-4 lg:mb-6 lg:pb-6">Etat des gains</h4>
            <div class="weekly-product-transactions"></div>
          </div>
        </div>

      </div>
    </div>
    <!-- Liste des produits -->
    <div class="col-span-12">
      <div class="box col-span-12 lg:col-span-6">
        <div class="bb-dashed mb-4 flex flex-wrap items-center justify-between gap-4 pb-4 lg:mb-6 lg:pb-6">
          <h4 class="h4">PRODUITS DISPONIBLES</h4>
        </div>
        <div class="overflow-x-auto">
          <div class="mb-6 flex items-center justify-center gap-3 lg:mb-8 xxl:gap-4">
            <button
              class="prev-wallet h-8 w-8 shrink-0 rounded-full border border-primary bg-n0 text-primary duration-300 hover:bg-primary hover:text-n0 dark:bg-bg4 dark:hover:bg-primary xxl:h-10 xxl:w-10">
              <i class="las la-angle-left text-lg rtl:rotate-180"></i>
            </button>
            <div class="swiper walletSwiper" dir="ltr">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="flex justify-center">
                    <div class="content-product">
                      <div class="product-img">
                        <img src="assets/images/produit.png" class="rounded-xl" alt="titre produit" />
                      </div>
                      <div class="title-product">
                        <h3>AFB AVENIR</h3>
                      </div>
                      <div class="product-price">
                        <span class="price">1,000</span>
                        <sup>Fcfa</sup>
                      </div>
                      <div class="content-btn-action">
                        <button class="btn ac-modal-btn buy">
                          <a href="#p">ACHETER</a>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="flex justify-center">
                    <div class="content-product">
                      <div class="product-img">
                        <img src="assets/images/produit.png" class="rounded-xl" alt="titre produit" />
                      </div>
                      <div class="title-product">
                        <h3>AFB AVENIR</h3>
                      </div>
                      <div class="product-price">
                        <span class="price">1,000</span>
                        <sup>Fcfa</sup>
                      </div>
                      <div class="content-btn-action">
                        <button class="btn ac-modal-btn buy">
                          <a >ACHETER</a>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="flex justify-center">
                    <div class="content-product">
                      <div class="product-img">
                        <img src="assets/images/produit.png" class="rounded-xl" alt="titre produit" />
                      </div>
                      <div class="title-product">
                        <h3>AFB AVENIR</h3>
                      </div>
                      <div class="product-price">
                        <span class="price">1,000</span>
                        <sup>Fcfa</sup>
                      </div>
                      <div class="content-btn-action">
                        <button class="btn ac-modal-btn buy">
                          <a >ACHETER</a>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="flex justify-center">
                    <div class="content-product">
                      <div class="product-img">
                        <img src="assets/images/produit.png" class="rounded-xl" alt="titre produit" />
                      </div>
                      <div class="title-product">
                        <h3>AFB AVENIR</h3>
                      </div>
                      <div class="product-price">
                        <span class="price">1,000</span>
                        <sup>Fcfa</sup>
                      </div>
                      <div class="content-btn-action">
                        <button class="btn ac-modal-btn buy">
                          <a >ACHETER</a>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> <button
            class="next-wallet h-8 w-8 shrink-0 rounded-full border border-primary bg-n0 text-primary duration-300 hover:bg-primary hover:text-n0 dark:bg-bg4 dark:hover:bg-primary xxl:h-10 xxl:w-10">
            <i class="las la-angle-right text-lg rtl:rotate-180"></i>
          </button>
          </div>
        </div>
        <div class="content-btn-see-all">
          <a class="group mt-6 inline-flex items-center gap-1 font-semibold text-primary"
             href="#">
            Voir tous les produits
            <i class="las la-arrow-right duration-300 group-hover:pl-2"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- Latest Transactions -->
    <div class="col-span-12">
      <div class="box col-span-12 lg:col-span-6">
        <div class="bb-dashed mb-4 flex flex-wrap items-center justify-between gap-4 pb-4 lg:mb-6 lg:pb-6">
          <h4 class="h4">Transactions récentes</h4>
          <div class="flex items-center gap-4">
          </div>
        </div>
        <div class="overflow-x-auto">
          <table class="w-full whitespace-nowrap select-all-table" id="transactionTable">
            <thead>
            <tr class="bg-secondary1/5 dark:bg-bg3">
              <th class="w-[50px] px-6 text-start">
                <input name="select-all" type="checkbox" id="selectAllCheckbox"
                       class="accent-secondary1 focus:border-none focus:shadow-none focus:outline-none" />
              </th>
              <th class="min-w-[220px] cursor-pointer px-6 py-5 text-start">
                <div class="flex items-center gap-1">Libellé</div>
              </th>
              <th class="min-w-[120px] py-5 text-center">Référence</th>
              <th class="min-w-[120px] cursor-pointer py-5 text-center">
                    <div class=" flex items-center gap-1">Moyen de paiement
        </div>
        </th>
        <th class="min-w-[120px] cursor-pointer py-5 text-center">
                    <div class=" flex items-center gap-1">Montant (Fcfa)
      </div>
      </th>
      <th align="center" class="cursor-pointer py-5 text-center">
        <div class="flex items-center gap-1" style="justify-content: center;">Status</div>
      </th>
      <th class="p-5 text-center">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr class="even:bg-secondary1/5 dark:even:bg-bg3">
        <td class="px-6 text-start">
          <input type="checkbox" class="accent-secondary1" name="checkbox1" />
        </td>
        <td class="px-6 py-2">
          <div class="flex items-center gap-3">
            <img src="assets/images/produit.png" width="32" height="32" class="rounded-full" alt="payment medium icon" />
            <div>
              <p class="mb-1 font-medium">Achat action ELITE</p>
              <span class="text-xs">11 Aug, 24. 10:36 am</span>
            </div>
          </div>
        </td>
        <td align="center" class="py-2">#521452</td>
        <td align="center" class="py-2">Paypal</td>
        <td align="center" class="py-2">1,121,212</td>
        <td align="center" class="py-2">
              <span
                class="block w-28 rounded-[30px] border border-n30 bg-primary/10 py-2 text-center text-xs text-primary dark:border-n500 dark:bg-bg3 xxl:w-36">
                Succès
              </span>
        </td>
        <td class="py-2">
          <div class="flex justify-center">
            <!-- Add your action elements here -->
            <div class="relative">
              <i class="las la-ellipsis-v horiz-option-btn cursor-pointer"></i>
              <ul class="horiz-option hide">
                <li>
                      <span
                        class="block cursor-pointer rounded px-3 py-1 text-sm leading-normal duration-300 hover:bg-primary/10 dark:hover:bg-bg4">
                        Voir le détail
                      </span>
                </li>
                <li>
                      <span
                        class="block cursor-pointer rounded px-3 py-1 text-sm leading-normal duration-300 hover:bg-primary/10 dark:hover:bg-bg4">
                        Imprimer
                      </span>
                </li>
              </ul>
            </div>

          </div>
        </td>
      </tr>
      <tr class="even:bg-secondary1/5 dark:even:bg-bg3">
        <td class="px-6 text-start">
          <input type="checkbox" class="accent-secondary1" name="checkbox1" />
        </td>
        <td class="px-6 py-2">
          <div class="flex items-center gap-3">
            <img src="assets/images/produit.png" width="32" height="32" class="rounded-full" alt="payment medium icon" />
            <div>
              <p class="mb-1 font-medium">Achat action ELITE</p>
              <span class="text-xs">11 Aug, 24. 10:36 am</span>
            </div>
          </div>
        </td>
        <td align="center" class="py-2">#521452</td>
        <td align="center" class="py-2">Paypal</td>
        <td align="center" class="py-2">1,121,212</td>
        <td align="center" class="py-2">
              <span
                class="block w-28 rounded-[30px] border border-n30 bg-secondary2/10 py-2 text-center text-xs text-secondary2 dark:border-n500 dark:bg-bg3 xxl:w-36">
                Annulé
              </span>
        </td>
        <td class="py-2">
          <div class="flex justify-center">
            <!-- Add your action elements here -->
            <div class="relative">
              <i class="las la-ellipsis-v horiz-option-btn cursor-pointer"></i>
              <ul class="horiz-option hide">
                <li>
                      <span
                        class="block cursor-pointer rounded px-3 py-1 text-sm leading-normal duration-300 hover:bg-primary/10 dark:hover:bg-bg4">
                        Voir le détail
                      </span>
                </li>
                <li>
                      <span
                        class="block cursor-pointer rounded px-3 py-1 text-sm leading-normal duration-300 hover:bg-primary/10 dark:hover:bg-bg4">
                        Imprimer
                      </span>
                </li>
              </ul>
            </div>

          </div>
        </td>
      </tr>
      <tr class="even:bg-secondary1/5 dark:even:bg-bg3">
        <td class="px-6 text-start">
          <input type="checkbox" class="accent-secondary1" name="checkbox1" />
        </td>
        <td class="px-6 py-2">
          <div class="flex items-center gap-3">
            <img src="assets/images/produit.png" width="32" height="32" class="rounded-full" alt="payment medium icon" />
            <div>
              <p class="mb-1 font-medium">Achat action ELITE</p>
              <span class="text-xs">11 Aug, 24. 10:36 am</span>
            </div>
          </div>
        </td>
        <td align="center" class="py-2">#521452</td>
        <td align="center" class="py-2">Paypal</td>
        <td align="center" class="py-2">1,121,212</td>
        <td align="center" class="py-2">
              <span
                class="block w-28 rounded-[30px] border border-n30 bg-primary/10 py-2 text-center text-xs text-primary dark:border-n500 dark:bg-bg3 xxl:w-36">
                Succès
              </span>
        </td>
        <td class="py-2">
          <div class="flex justify-center">
            <!-- Add your action elements here -->
            <div class="relative">
              <i class="las la-ellipsis-v horiz-option-btn cursor-pointer"></i>
              <ul class="horiz-option hide">
                <li>
                      <span
                        class="block cursor-pointer rounded px-3 py-1 text-sm leading-normal duration-300 hover:bg-primary/10 dark:hover:bg-bg4">
                        Voir le détail
                      </span>
                </li>
                <li>
                      <span
                        class="block cursor-pointer rounded px-3 py-1 text-sm leading-normal duration-300 hover:bg-primary/10 dark:hover:bg-bg4">
                        Imprimer
                      </span>
                </li>
              </ul>
            </div>

          </div>
        </td>
      </tr>
      <tr class="even:bg-secondary1/5 dark:even:bg-bg3">
        <td class="px-6 text-start">
          <input type="checkbox" class="accent-secondary1" name="checkbox1" />
        </td>
        <td class="px-6 py-2">
          <div class="flex items-center gap-3">
            <img src="assets/images/produit.png" width="32" height="32" class="rounded-full" alt="payment medium icon" />
            <div>
              <p class="mb-1 font-medium">Achat action ELITE</p>
              <span class="text-xs">11 Aug, 24. 10:36 am</span>
            </div>
          </div>
        </td>
        <td align="center" class="py-2">#521452</td>
        <td align="center" class="py-2">Paypal</td>
        <td align="center" class="py-2">1,121,212</td>
        <td align="center" class="py-2">
              <span
                class="block w-28 rounded-[30px] border border-n30 bg-secondary2/10 py-2 text-center text-xs text-secondary2 dark:border-n500 dark:bg-bg3 xxl:w-36">
                Annulé
              </span>
        </td>
        <td class="py-2">
          <div class="flex justify-center">
            <!-- Add your action elements here -->
            <div class="relative">
              <i class="las la-ellipsis-v horiz-option-btn cursor-pointer"></i>
              <ul class="horiz-option hide">
                <li>
                      <span
                        class="block cursor-pointer rounded px-3 py-1 text-sm leading-normal duration-300 hover:bg-primary/10 dark:hover:bg-bg4">
                        Voir le détail
                      </span>
                </li>
                <li>
                      <span
                        class="block cursor-pointer rounded px-3 py-1 text-sm leading-normal duration-300 hover:bg-primary/10 dark:hover:bg-bg4">
                        Imprimer
                      </span>
                </li>
              </ul>
            </div>

          </div>
        </td>
      </tr>
      <tr class="even:bg-secondary1/5 dark:even:bg-bg3">
        <td class="px-6 text-start">
          <input type="checkbox" class="accent-secondary1" name="checkbox1" />
        </td>
        <td class="px-6 py-2">
          <div class="flex items-center gap-3">
            <img src="assets/images/produit.png" width="32" height="32" class="rounded-full" alt="payment medium icon" />
            <div>
              <p class="mb-1 font-medium">Achat action ELITE</p>
              <span class="text-xs">11 Aug, 24. 10:36 am</span>
            </div>
          </div>
        </td>
        <td align="center" class="py-2">#521452</td>
        <td align="center" class="py-2">Paypal</td>
        <td align="center" class="py-2">1,121,212</td>
        <td align="center" class="py-2">
              <span
                class="block w-28 rounded-[30px] border border-n30 bg-secondary3/10 py-2 text-center text-xs text-secondary3 dark:border-n500 dark:bg-bg3 xxl:w-36">
                En attente
              </span>
        </td>
        <td class="py-2">
          <div class="flex justify-center">
            <!-- Add your action elements here -->
            <div class="relative">
              <i class="las la-ellipsis-v horiz-option-btn cursor-pointer"></i>
              <ul class="horiz-option hide">
                <li>
                      <span
                        class="block cursor-pointer rounded px-3 py-1 text-sm leading-normal duration-300 hover:bg-primary/10 dark:hover:bg-bg4">
                        Voir le détail
                      </span>
                </li>
                <li>
                      <span
                        class="block cursor-pointer rounded px-3 py-1 text-sm leading-normal duration-300 hover:bg-primary/10 dark:hover:bg-bg4">
                        Imprimer
                      </span>
                </li>
              </ul>
            </div>

          </div>
        </td>
      </tr>
      <tr class="even:bg-secondary1/5 dark:even:bg-bg3">
        <td class="px-6 text-start">
          <input type="checkbox" class="accent-secondary1" name="checkbox1" />
        </td>
        <td class="px-6 py-2">
          <div class="flex items-center gap-3">
            <img src="assets/images/produit.png" width="32" height="32" class="rounded-full" alt="payment medium icon" />
            <div>
              <p class="mb-1 font-medium">Achat action ELITE</p>
              <span class="text-xs">11 Aug, 24. 10:36 am</span>
            </div>
          </div>
        </td>
        <td align="center" class="py-2">#521452</td>
        <td align="center" class="py-2">Paypal</td>
        <td align="center" class="py-2">1,121,212</td>
        <td align="center" class="py-2">
              <span
                class="block w-28 rounded-[30px] border border-n30 bg-primary/10 py-2 text-center text-xs text-primary dark:border-n500 dark:bg-bg3 xxl:w-36">
                Succès
              </span>
        </td>
        <td class="py-2">
          <div class="flex justify-center">
            <!-- Add your action elements here -->
            <div class="relative">
              <i class="las la-ellipsis-v horiz-option-btn cursor-pointer"></i>
              <ul class="horiz-option hide">
                <li>
                      <span
                        class="block cursor-pointer rounded px-3 py-1 text-sm leading-normal duration-300 hover:bg-primary/10 dark:hover:bg-bg4">
                        Voir le détail
                      </span>
                </li>
                <li>
                      <span
                        class="block cursor-pointer rounded px-3 py-1 text-sm leading-normal duration-300 hover:bg-primary/10 dark:hover:bg-bg4">
                        Imprimer
                      </span>
                </li>
              </ul>
            </div>

          </div>
        </td>
      </tr>
      <tr class="even:bg-secondary1/5 dark:even:bg-bg3">
        <td class="px-6 text-start">
          <input type="checkbox" class="accent-secondary1" name="checkbox1" />
        </td>
        <td class="px-6 py-2">
          <div class="flex items-center gap-3">
            <img src="assets/images/produit.png" width="32" height="32" class="rounded-full" alt="payment medium icon" />
            <div>
              <p class="mb-1 font-medium">Achat action ELITE</p>
              <span class="text-xs">11 Aug, 24. 10:36 am</span>
            </div>
          </div>
        </td>
        <td align="center" class="py-2">#521452</td>
        <td align="center" class="py-2">Paypal</td>
        <td align="center" class="py-2">1,121,212</td>
        <td align="center" class="py-2">
              <span
                class="block w-28 rounded-[30px] border border-n30 bg-secondary2/10 py-2 text-center text-xs text-secondary2 dark:border-n500 dark:bg-bg3 xxl:w-36">
                Annulé
              </span>
        </td>
        <td class="py-2">
          <div class="flex justify-center">
            <!-- Add your action elements here -->
            <div class="relative">
              <i class="las la-ellipsis-v horiz-option-btn cursor-pointer"></i>
              <ul class="horiz-option hide">
                <li>
                      <span
                        class="block cursor-pointer rounded px-3 py-1 text-sm leading-normal duration-300 hover:bg-primary/10 dark:hover:bg-bg4">
                        Voir le détail
                      </span>
                </li>
                <li>
                      <span
                        class="block cursor-pointer rounded px-3 py-1 text-sm leading-normal duration-300 hover:bg-primary/10 dark:hover:bg-bg4">
                        Imprimer
                      </span>
                </li>
              </ul>
            </div>

          </div>
        </td>
      </tr>
      <tr class="even:bg-secondary1/5 dark:even:bg-bg3">
        <td class="px-6 text-start">
          <input type="checkbox" class="accent-secondary1" name="checkbox1" />
        </td>
        <td class="px-6 py-2">
          <div class="flex items-center gap-3">
            <img src="assets/images/produit.png" width="32" height="32" class="rounded-full" alt="payment medium icon" />
            <div>
              <p class="mb-1 font-medium">Achat action ELITE</p>
              <span class="text-xs">11 Aug, 24. 10:36 am</span>
            </div>
          </div>
        </td>
        <td align="center" class="py-2">#521452</td>
        <td align="center" class="py-2">Paypal</td>
        <td align="center" class="py-2">1,121,212</td>
        <td align="center" class="py-2">
              <span
                class="block w-28 rounded-[30px] border border-n30 bg-secondary3/10 py-2 text-center text-xs text-secondary3 dark:border-n500 dark:bg-bg3 xxl:w-36">
                En attente
              </span>
        </td>
        <td class="py-2">
          <div class="flex justify-center">
            <!-- Add your action elements here -->
            <div class="relative">
              <i class="las la-ellipsis-v horiz-option-btn cursor-pointer"></i>
              <ul class="horiz-option hide">
                <li>
                      <span
                        class="block cursor-pointer rounded px-3 py-1 text-sm leading-normal duration-300 hover:bg-primary/10 dark:hover:bg-bg4">
                        Voir le détail
                      </span>
                </li>
                <li>
                      <span
                        class="block cursor-pointer rounded px-3 py-1 text-sm leading-normal duration-300 hover:bg-primary/10 dark:hover:bg-bg4">
                        Imprimer
                      </span>
                </li>
              </ul>
            </div>

          </div>
        </td>
      </tr>
      </tbody>
      </table>
    </div>
    <div class="content-btn-see-all">
      <a class="group mt-6 inline-flex items-center gap-1 font-semibold text-primary" href="#">
        Voir +
        <i class="las la-arrow-right duration-300 group-hover:pl-2"></i>
      </a>
    </div>
  </div>
  </div>
  </div>
</main>
<app-footer></app-footer>

