

<footer class="footer bg-n0 dark:bg-bg4">
  <div class="flex flex-col items-center justify-center gap-3 px-4 py-5 lg:flex-row lg:justify-between xxl:px-8">
    <p class="text-sm max-md:w-full max-md:text-center lg:text-base">
      Copyright @ {{ today | date:'y'}}
      <a class="text-primary" href="#!"> MYKORI </a>
      .
      <a href="https://e-jabbing.com/" class="text-secondary1"> E-JABBING </a>
    </p>
    <div class="justify-center max-md:flex max-md:w-full"></div>

    <ul class="flex gap-3 text-sm max-lg:w-full max-lg:justify-center lg:gap-4 lg:text-base">
      <li>
        <a href="#">Politique de confidentialité</a>
      </li>
      <li>
        <a href="#">Termes et conditions d'utilisation</a>
      </li>
    </ul>
  </div>
</footer>

<!-- modal -->
<div class="ac-modal-overlay fixed inset-0 z-[99] modalhide overflow-y-auto bg-n900/80 duration-500">
  <div class="overflow-y-auto">
    <div
      class="modal box modal-inner absolute left-1/2 my-10 max-h-[90vh] w-[95%] max-w-[710px] duration-300 -translate-x-1/2 overflow-y-auto xl:p-8">
      <!-- { "translate-y-0 scale-100 opacity-100 my-10": open } -->
      <div class="relative">
        <button class="ac-modal-close-btn absolute top-0 ltr:right-0 rtl:left-0">
          <i class="las la-times"></i>
        </button>
        <div class="bb-dashed mb-4 flex items-center justify-between pb-4 lg:mb-6 lg:pb-6">
          <h4 class="h4">Achat actions AFB AVENIR</h4>
        </div>
        <form >
                    <div class=" mt-6 grid grid-cols-2 gap-4 xl:mt-8 xxxl:gap-6">
        <div class="col-span-2">
          <label for="name" class="mb-4 block font-medium md:text-lg">
            Nombre de parts
          </label>
          <input type="text"
                 class="w-full rounded-3xl border border-n30 bg-secondary1/5 px-6 py-2.5 dark:border-n500 dark:bg-bg3 md:py-3"
                 placeholder="Insérer le nombre de part que vous souhaitez acheter" id="name" required />
        </div>
        <div class="col-span-2">
          <label for="number" class="mb-4 block font-medium md:text-lg">
            Valeur liquidative : Fcfa 10000
          </label>
        </div>
        <div class="col-span-2">
          <label for="number" class="mb-4 block font-medium md:text-lg">
            Frais de gestion : Fcfa 200
          </label>
        </div>
        <div class="col-span-2">
          <label for="number" class="mb-4 block font-medium md:text-lg">
            Montant total : Fcfa 200
          </label>
        </div>
        <div class="col-span-2 mt-4">
          <button class="btn flex w-full justify-center" type="submit">
            Acheter maintenant
          </button>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
</div>

<!-- Theme Customizer  -->

